XML/lab2/family3.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xs:element name="grandfather">   <xs:complexType mixed="true">      <xs:group ref="grandfatherr"></xs:group>   </xs:complexType></xs:element><xs:group name="grandfatherr">	<xs:sequence>	<xs:element name="father" type="fatherfamily"></xs:element>	<xs:element name="uncle" type="xs:string" minOccurs="1" maxOccurs="2"></xs:element>		  <xs:element name="aunt" >	   <xs:complexType mixed="true">	      <xs:attribute name="sons" type="xs:integer"></xs:attribute>	   </xs:complexType>	  </xs:element>	</xs:sequence></xs:group><xs:complexType name="fatherfamily">	<xs:sequence>	 <xs:element name="mother" type="mothertype"></xs:element>	 <xs:element name="daughter" type="daughtertype" minOccurs="1" maxOccurs="unbounded"></xs:element>	 	 <xs:element name="son">	   <xs:complexType mixed="true">	    <xs:attribute name="sport" type="xs:string" />	    <xs:attribute name="age" type="xs:integer" />	   </xs:complexType>	 </xs:element>	 	</xs:sequence>	<xs:attribute name="job" type="xs:string"></xs:attribute>	<xs:attribute name="name"  type="xs:string" ></xs:attribute></xs:complexType><xs:complexType name="mothertype">	<xs:sequence>	 <xs:element name="name" type="xs:string"></xs:element>	</xs:sequence>	</xs:complexType><xs:complexType name="daughtertype" mixed="true">	<xs:sequence>	 <xs:element name="name" type="xs:string"></xs:element>	 <xs:element name="child" type="xs:string" ></xs:element>	</xs:sequence>	<xs:attribute name="job" type="xs:string"></xs:attribute>	<xs:attribute name="age"  type="xs:integer" ></xs:attribute></xs:complexType></xs:schema>